* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: rubik, sans-serif;
}

body {
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

img {
  object-fit: cover;
}
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #3d3d3d;
  color: #ededed;
  align-items: center;
  height: 100px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  gap: 30px;
  z-index: 99999;
}

.right ul {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 17px;
  align-items: center;
  height: 50px;
  background-color: transparent;
  color: #ededed;
  border: none;
  cursor: pointer;
}

li {
  transition: 500ms;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: inherit;
}

li:hover {
  color: #a9a9a9;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section .left {
  padding-left: 100px;
  padding-top: 10px;
  max-width: 70%;
  width: 70%;
  margin-left: 20px;
}

.section .left h1 {
  width: 50%;
  color: #3d3d3d;
  padding: 10px;
  font-size: 70px;
}


.photography{
  width: 50%;
  color: #3d3d3d;
  padding: 10px;
  font-size: 70px;
}

.section .left p {
  width: 50%;
  padding: 10px;
  font-size: 17px;
}

.expl {
  height: 70px;
  width: 200px;
  border-radius: 30px;
  margin: 20px;
  background-color: #3d3d3d;
  transition: 500ms;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.expl:hover {
  background-color: #fff;
  color: #3d3d3d;
  border: 2px solid #3d3d3d;
  cursor: pointer;
}

.section .right {
  width: 30%;
  display: flex;
  border-radius: 23px;
}

.section .right img {
  width: 100%;
  height: 600px;
  margin-right: 50px;
  border-radius: 23px;
  object-fit: cover;
}

.hero {
  display: flex;
  padding: 20px;
  gap: 40px;
}

.hero .one {
  background-position: start;
  width: 40%;
  height: 530px;
  border-radius: 20px;
}

.hero .two {
  width: 57%;
  height: 530px;
  border-radius: 20px;
}

.ov {
  background-color: #3d3d3d;
  color: #ededed;
  height: 290px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 30px;
  padding-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.os {
  color: #3d3d3d;
  width: 50%;
  margin-left: 50px;
  margin-top: 80px;
}

.ph {
  display: flex;
  height: 900px;
  gap: 30px;
  margin-left: 25px;
  justify-content: space-between;
}

.three {
  width: 50%;
  height: 900px;
  border-radius: 20px;
  background-position: center;
}

.four {
  width: 45%;
  height: 900px;
  border-radius: 20px;
  background-position: center;
}

.pf {
  padding: 30px;
  margin: 40px;
  font-size: 40px;
  color: #3d3d3d;
  margin-bottom: 100px;
}

.pf h1 {
  width: 50%;
}

hr {
  margin-top: 170px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 20px;
}

.hh {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  font-size: 25px;
  margin-left: 65px;
  margin-right: 90px;
  color: #3d3d3d;
}

.hh p {
  width: 25%;
  font-size: 20px;
}

.hh h1 {
  font-family: rubik, sans-serif;
  width: 35%;
}

.cu {
  display: flex;
  min-height: 900px;
  gap: 50px;
}

.cu .left {
  background-color: #3d3d3d;
  color: white;
  height: 700px;
  width: 60%;
  border-radius: 20px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.cu .left h1 {
  padding-left: 50px;
  font-size: 60px;
}

.cu .left h2 {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 20px;
}

.cu .right {
  width: 40%;
  background-color: lightgray;
  height: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 70px;
  padding-right: 50px;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.right form {
  width: 400px;
  height: 400px;
}

.cu .right p {
  margin-right: 120px;
  margin-left: 25px;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

form .top {
  display: flex;
  /* margin-right: 20px; */
  gap: 10px;
}

.top .field {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;
  outline: none;
  margin-right: 20px;
}

.top .phone {
  padding-left: 30px;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.field i {
  position: absolute;
  top: 40px;
  left: 10px;
}

textarea {
  height: 150px;
  resize: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  margin-bottom: 20px;
}

form button {
  display: block;
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  width: 200px;
  height: 70px;
  border-radius: 30px;
  font-size: 20px;
  transition: 500ms;
}

form button:hover {
  background-color: gray;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}
.nav .right .fa-bars{
          display: none;
        }

@media (max-width: 900px) {
.nav .right  ul{
  display: none;
}


.photography{
  margin-right: 20px;
  font-size: 50px;
}

.nav .right .fa-bars{
  display: block;
  color: white;
  cursor: pointer;
}

  .cu {
    flex-direction: column;
  }

  .cu .right,
  .cu .left {
    width: 450px;
  }

    form{
              flex-direction: column;

             }
             .top{
              flex-direction: column;
             }

             .field{
              flex-direction: column;
             }
}

@media (max-width: 800px) {
  .section {
    flex-direction: column;
  }

  .section .right img{
                margin-left: 50px ;
                width: 100%;
              }
              .section .right{
              width: 300px;
              }

  .section .left,
  .section .right {
  width: 400px;
    text-align: center;
  }

  .section .right img {
    width: 400px;
  }

  .section .left h1 {
    width: 100%;
    font-size: 50px;
  }
  .section .left p {
    width: 100%;
  }

  .hero {
    flex-direction: column;
  }

  .hero .one,
  .hero .two {
    width: 100%;
    height: auto;
  }

  .ph {
    flex-direction: column;
    height: auto;
  }

  .three,
  .four {
    width: 100%;
    height: auto;
  }

  .fullarea {
    text-align: center;
  }

  .section .right {
    margin-left: auto;
    width: 800px;
  }

    form{
              flex-direction: column;

             }
             .top{
              flex-direction: column;
             }

             .field{
              flex-direction: column;
             }
}

.rk {
  /* max-width: 2450px; */
  display: flex;
  gap: 50px;
  padding: 30px;
 
}

.rk .left {
  width: 50%;
  height: 400px;
  background-color: #3d3d3d;
  color: #ededed;
  margin-top: -70px;
  padding: 60px;
  /* margin-left: 20px; */
  border-radius: 23px;
   margin-top:30px;
}

.rk .right {
  width: 50%;
  background-color: #3d3d3d;
  color: #ededed;
  height: 400px;
  border-radius: 20px;
  margin-top: -70px;
  /* margin-right: -70px; */
  /* margin-left: 20px; */
}

.rk .right p {
  margin-top: 10px;
  margin-left: 60px;
  font-size: 20px;
}

.rk .right hr {
  margin-top: 37px;
}

.icons {
  display: flex;
  margin-left: 60px;
  padding-left: 10px;
}

.rk .right i {
  display: flex;
  margin-top: 20px;
  font-size: 30px;

  gap: 20px;

  background-color: #929292;
  color: #3f3f3f;
  border-radius: 20px;
  width: 45px;
  height: 40px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-youtube {
  padding-left: 3px;
}

.pp {
  position: relative;
  width: 98%;
  background-color: #3d3d3d;
  color: #ededed;
  height: 200px;
 margin-top: 100px;
 margin-left: 10px;
  border-radius: 20px;
  padding: 60px;
}

.policy {
  width: 12%;
}

.pp .rights {
  position: absolute;
  bottom: 50px;
  left: 85%;
}

.inspect {
  display: flex;
  margin-bottom: 190px;
}

.inspect .right {
  width: 47%;
  margin-left: 20%;
}

.inspect .right h1 {
  font-size: 70px;
  color: #3d3d3d;
}
.inspect .right h2 {
  font-size: 30px;
  color: #3d3d3d;
}

.inspect .right p {
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 20px;
  color: #3d3d3d;
}

.inspect .left {
  width: 47%;
  background-color: #fff;
  height: 900px;
  border-radius: 20px;
  margin-left: 50px;
}

.inspect .left img {
  width: 100%;
  height: 900px;
  border-radius: 20px;
  object-fit: cover;
}


 .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            max-width: 1600px;
            margin: 0 auto;
            padding: 20px;
            justify-content: center;
            margin-bottom: 30px;
        }

        .image-box {
            border-radius: 30px;
            overflow: hidden;
            height: 500px;
        }

        .image-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

       
        .image-box:nth-child(5) {
            grid-column: span 2;
        }

        .image-box:nth-child(6) {
            grid-column: span 2;
        }

      
       
        @media (max-width: 1200px) {
            .gallery {
                grid-template-columns: repeat(2, 1fr);
            }
            
            .image-box:nth-child(5),
            .image-box:nth-child(6) {
                grid-column: span 1;
            }
        }

        @media (max-width: 768px) {
            .gallery {
                grid-template-columns: 1fr;
            }



            @media (max-width:700px) {
              .fullarea{
                text-align: center;
                
                flex-direction: column;
              }
              .rk{
                display: flex;
                flex-direction: column;
                margin-top: 70px;
                
              }
            
                .rk .left{
                  width: 100%;
                  margin-bottom: 10px;
                }
                
                .rk .right{
                  width: 100%;
                  margin-top: 30px;
                }

              .pf h1{
                font-size: 20px;

              }

             form{
              flex-direction: column;

             }
             .top{
              flex-direction: column;
             }

             .field{
              flex-direction: column;
             }
             .submit{
              margin-right: 90px;
             }



            
            }
        }
 

        .header h1{
          text-align: center;
          font-size: 30px;
        }

        .image-box1:hover::after{
          content: iuuwui;
        }




         .container1 {
            display: flex;
            font-family: Arial, sans-serif;
        }

        .left1 {
            width: 50%;
            margin-left: 20px;
            border-radius: 30px;
        }

        .left1-img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .right1 {
            width: 50%;
            background: white;
        }

        .header1 {
            background: #f5f5f5;
            padding: 50px;
        }

        .small-text {
            color: #666;
            font-size: 14px;
        }

        .big-title {
            font-size: 48px;
            color: #333;
            margin-top: 10px;
        }

        .content1 {
            padding: 50px;
        }

        .section1 {
            margin-bottom: 40px;
        }

        .section-title {
            color: #666;
            font-size: 20px;
            margin-bottom: 15px;
        }

        .section-text {
            color: #444;
            line-height: 1.6;
        }

        .container2 {
            display: flex;
            font-family: Arial, sans-serif;
            min-height: 100vh;
        }

        .left-side {
            width: 50%;
            background: #f5f5f5;
            padding: 80px;
        }

        .right-side {
            width: 50%;
            background: #e8e8e8;
            padding: 80px;
        }

        .label {
            color: #888;
            font-size: 14px;
            margin-bottom: 15px;
        }

        .main-text {
            color: #333;
            font-size: 32px;
            line-height: 1.5;
        }

        .small-note {
            color: #666;
            font-size: 12px;
            line-height: 1.6;
            margin-top: 200px;
        }